Repository hmcts/rd-profile-sync, pull requests merged in 2019-12, with the labels that each got.

#103 dependancy error fix
  config/owasp/suppressions.xml
Labels: ns:rd-profile-sync-pr-103

#118 Perf test sync
  .dependabot/config.yml
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  README.md
  audit.json
  broker-compose.yml
  build.gradle
  charts/rd-profile-sync/values.ithc.template.yaml
  charts/rd-profile-sync/values.perftest.template.yaml
  charts/rd-profile-sync/values.preview.template.yaml
  charts/rd-profile-sync/values.sandbox.template.yaml
  charts/rd-profile-sync/values.yaml
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  readme-images/pact1.png
  readme-images/pact2.png
  readme-images/pact3.png
  security.sh
  src/contractTest/java/uk/gov/hmcts/reform/profilesync/IdamConsumerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/RunProfileSyncJobTest.java
  src/main/java/uk/gov/hmcts/reform/profilesync/client/IdamClient.java
  src/main/java/uk/gov/hmcts/reform/profilesync/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/GetUserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/IdamStatus.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/SyncJobConfig.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/UserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/UserProfileSyncException.java
  src/main/java/uk/gov/hmcts/reform/profilesync/repository/SyncConfigRepository.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncEnum.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/util/JsonFeignResponseHelper.java
  src/main/java/uk/gov/hmcts/reform/profilesync/util/UserProfileSyncJobScheduler.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/main/resources/db/migration/V1_2__add_sync_config_tables.sql
  src/test/java/uk/gov/hmcts/reform/profilesync/client/IdamClientTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/config/AuthCheckerConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/config/TokenConfigPropertiesTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/GetUserProfileResponseTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/SyncConfigTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/UserProfileResponseTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/UserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/helper/MockDataProvider.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncEnumTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/util/UserProfileSyncJobSchedulerTest.java
Labels: ns:rd-profile-sync-pr-118

#120 fix: Perf test fix
  Jenkinsfile_CNP
  build.gradle
  src/main/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncService.java
  src/main/resources/bootstrap.yaml
Labels: ns:rd-profile-sync-pr-120

#98 RDCC-682 nightly build fix
  Jenkinsfile_nightly
  audit.json
  build.gradle
  charts/rd-profile-sync/values.preview.template.yaml
  config/owasp/suppressions.xml
  security.sh
Labels: ns:rd-profile-sync-pr-98
