Repository hmcts/rd-profile-sync, pull requests merged in 2019-09, with the labels that each got.

#38 Rdcc 486
  Jenkinsfile_CNP
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/profilesync/client/IdamClient.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/GetUserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/UserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/UserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/helper/MockDataProvider.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImplTest.java
Labels: ns:rd-profile-sync-pr-38

#40 Rdcc 486
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImpl.java
Labels: ns:rd-profile-sync-pr-40

#44 Prd tidam fix
  Jenkinsfile_CNP
  build.gradle
  config/owasp/suppressions.xml
  infrastructure/output.tf
  src/main/java/uk/gov/hmcts/reform/profilesync/client/IdamClient.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/GetUserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/UserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/UserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/helper/MockDataProvider.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImplTest.java
Labels: ns:rd-profile-sync-pr-44
