Repository hmcts/rd-profile-sync, pull requests merged in 2019-11, with the labels that each got.

#46 RDCC-475
  charts/rd-profile-sync/values.preview.template.yaml
  charts/rd-profile-sync/values.sandbox.template.yaml
  src/main/java/uk/gov/hmcts/reform/profilesync/client/IdamClient.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/IdamStatus.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImpl.java
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/profilesync/helper/MockDataProvider.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImplTest.java
Labels: ns:rd-profile-sync-pr-46

#80 RDCC-653 : Remove logging of sensitive keys and client identifying data
  build.gradle
  src/main/java/uk/gov/hmcts/reform/profilesync/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/util/UserProfileSyncJobScheduler.java
  src/test/java/uk/gov/hmcts/reform/profilesync/client/IdamClientTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/config/AuthCheckerConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/config/TokenConfigPropertiesTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncEnumTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/util/UserProfileSyncJobSchedulerTest.java
Labels: ns:rd-profile-sync-pr-80

#85 RDCC-661
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
  infrastructure/main.tf
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/RunProfileSyncJobTest.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/SyncJobConfig.java
  src/main/java/uk/gov/hmcts/reform/profilesync/repository/SyncConfigRepository.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/util/UserProfileSyncJobScheduler.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_2__add_sync_config_tables.sql
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/SyncConfigTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/util/UserProfileSyncJobSchedulerTest.java
Labels: ns:rd-profile-sync-pr-85

#87 Rdcc 661
  Jenkinsfile_CNP
  build.gradle
  config/owasp/suppressions.xml
  infrastructure/main.tf
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/RunProfileSyncJobTest.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/SyncJobConfig.java
  src/main/java/uk/gov/hmcts/reform/profilesync/repository/SyncConfigRepository.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/util/UserProfileSyncJobScheduler.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_2__add_sync_config_tables.sql
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/SyncConfigTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/util/UserProfileSyncJobSchedulerTest.java
Labels: ns:rd-profile-sync-pr-87

#89 Rdcc 641
  README.md
  readme-images/pact1.png
  readme-images/pact2.png
  readme-images/pact3.png
  src/contractTest/java/uk/gov/hmcts/reform/profilesync/IdamConsumerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/RunProfileSyncJobTest.java
Labels: ns:rd-profile-sync-pr-89

#92 Rdcc prod issue
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/RunProfileSyncJobTest.java
  src/main/java/uk/gov/hmcts/reform/profilesync/client/IdamClient.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/GetUserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/UserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/util/JsonFeignResponseHelper.java
  src/main/java/uk/gov/hmcts/reform/profilesync/util/UserProfileSyncJobScheduler.java
  src/test/java/uk/gov/hmcts/reform/profilesync/client/IdamClientTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/GetUserProfileResponseTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/UserProfileResponseTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/UserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/helper/MockDataProvider.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImplTest.java
Labels: ns:rd-profile-sync-pr-92

#93 Rdcc profile sync status update
  src/main/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncService.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
Labels: ns:rd-profile-sync-pr-93

#95 Rdcc 661
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImpl.java
Labels: ns:rd-profile-sync-pr-95

#96 Rdcc 661
  src/main/resources/application.yaml
Labels: ns:rd-profile-sync-pr-96

#100 RDCC-682 security fix, aks deploy fix
  audit.json
  charts/rd-profile-sync/values.preview.template.yaml
  security.sh
Labels: ns:rd-profile-sync-pr-100
