Repository hmcts/rd-profile-sync, pull requests merged in 2019-10, with the labels that each got.

#45 RDCC-478 AKS migration changes
  Dockerfile
  Jenkinsfile_CNP
  build.gradle
  charts/rd-profile-sync/Chart.yaml
  charts/rd-profile-sync/requirements.yaml
  charts/rd-profile-sync/values.aat.template.yaml
  charts/rd-profile-sync/values.preview.template.yaml
  charts/rd-profile-sync/values.sandbox.template.yaml
  charts/rd-profile-sync/values.yaml
  lib/applicationinsights-agent-2.3.1.jar
  src/main/resources/bootstrap.yaml
  web.config
Labels: ns:rd-profile-sync-pr-45

#48 Update values.yaml
  charts/rd-profile-sync/values.preview.template.yaml
  charts/rd-profile-sync/values.yaml
Labels: ns:rd-profile-sync-pr-48

#49 disable AAT deploy
  Jenkinsfile_CNP
Labels: ns:rd-profile-sync-pr-49

#51 Fix typo
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
Labels: ns:rd-profile-sync-pr-51

#52 Go live on AKS
  Jenkinsfile_CNP
Labels: ns:rd-profile-sync-pr-52

#59 RDCC-542 fixing sonar issues
  src/main/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncService.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncServiceImplTest.java
Labels: ns:rd-profile-sync-pr-59

#57 Delete from ASE
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:rd-profile-sync-pr-57

#60 Rdcc 542 1 - Fixing Sonar Issues
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/GetUserProfileResponseTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/UserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/util/JsonFeignResponseHelperTest.java
Labels: ns:rd-profile-sync-pr-60

#62 Adding latest AKS changes for arse
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:rd-profile-sync-pr-62

#56 RDCC-449 OpenId implementation
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/RunProfileSyncJobTest.java
  src/main/java/uk/gov/hmcts/reform/profilesync/client/IdamClient.java
  src/main/java/uk/gov/hmcts/reform/profilesync/config/FeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/profilesync/config/TokenConfigProperties.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncService.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/profilesync/client/IdamClientTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncServiceImplTest.java
Labels: ns:rd-profile-sync-pr-56

#65 RDCC-622 removing commented out line
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncServiceImplTest.java
Labels: ns:rd-profile-sync-pr-65

#66 Add dependabot config
  .dependabot/config.yml
Labels: ns:rd-profile-sync-pr-66

#77 Bump Reform health starter
  build.gradle
Labels: ns:rd-profile-sync-pr-77

#78 Rdcc 539
  .dependabot/config.yml
  Dockerfile
  Jenkinsfile_CNP
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/UserProfileSyncException.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncEnum.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncService.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
Labels: ns:rd-profile-sync-pr-78
