Repository hmcts/rd-profile-sync, pull requests merged in 2019-08, with the labels that each got.

#22 sonarfix issue fixed
  build.gradle
Labels: ns:rd-profile-sync-pr-22

#23 sonarfix:code committed to verify the pitest report in the PR
  .githooks/pre-push
  Jenkinsfile_CNP
  build.gradle
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/UserProfileResponse.java
  src/test/java/uk/gov/hmcts/reform/profilesync/util/JsonFeignResponseHelperTest.java
Labels: ns:rd-profile-sync-pr-23

#36 Rel 2.0
  Dockerfile
  Jenkinsfile_CNP
  charts/rd-profile-sync/Chart.yaml
  charts/rd-profile-sync/requirements.yaml
  charts/rd-profile-sync/values.aat.template.yaml
  charts/rd-profile-sync/values.preview.template.yaml
  charts/rd-profile-sync/values.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
  lib/AI-Agent.xml
  lib/applicationinsights-agent-2.3.1.jar
  web.config
Labels: ns:rd-profile-sync-pr-36

#37 removed pipeline step to deploy in prod
  Jenkinsfile_CNP
Labels: ns:rd-profile-sync-pr-37
