Repository hmcts/rd-profile-sync, pull requests merged in 2020-03, with the labels that each got.

#185 Fix suppression issue
  config/owasp/suppressions.xml
Labels: ns:rd, rel:rd-profile-sync-pr-185

#183 RDCC-863: PS Serenity Reports for Integration Tests
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/RunProfileSyncJobTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/SpringBootIntegrationTest.java
Labels: ns:rd, rel:rd-profile-sync-pr-183

#193 RDCC-863: moving changes from Master to Demo
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/RunProfileSyncJobTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/SpringBootIntegrationTest.java
Labels: ns:rd, rel:rd-profile-sync-pr-193

#203 logger updated
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImpl.java
Labels: ns:rd, rel:rd-profile-sync-pr-203

#204 Rdcc 1082
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImpl.java
Labels: ns:rd, rel:rd-profile-sync-pr-204
