Repository hmcts/rd-profile-sync, pull requests merged in 2020-08, with the labels that each got.

#307 updating s2s secret keys
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/profilesync/client/FuncTestRequestHandler.java
  src/functionalTest/java/uk/gov/hmcts/reform/profilesync/client/IdamClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/profilesync/client/S2sClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/profilesync/config/TestConfigProperties.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/profilesync/client/IdamClient.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/response/OpenIdAccessTokenResponse.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/profilesync/client/IdamClientTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/response/OpenIdAccessTokenResponseTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/schedular/UserProfileSyncJobSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/util/UserProfileSyncJobSchedulerTest.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-307

#310 Added env vars and bumped up chart version
  charts/rd-profile-sync/Chart.yaml
  charts/rd-profile-sync/values.yaml
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-310

#315 feat: updating loggers
  src/main/java/uk/gov/hmcts/reform/profilesync/schedular/UserProfileSyncJobScheduler.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-315

#319 RDCC-1640:new audit logic
  Jenkinsfile_CNP
  build.gradle
  charts/rd-profile-sync/values.preview.template.yaml
  infrastructure/main.tf
  pacts/.keep
  src/contractTest/java/uk/gov/hmcts/reform/profilesync/IdamConsumerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/AuthorizationEnabledIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/RunProfileSyncJobIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/RunProfileSyncJobTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/SpringBootIntTest.java
  src/main/java/uk/gov/hmcts/reform/profilesync/ProfileSyncApplication.java
  src/main/java/uk/gov/hmcts/reform/profilesync/config/TokenConfigProperties.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/ProfileSyncAudit.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/ProfileSyncAuditDetails.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/ProfileSyncAuditDetailsId.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/SyncJobAudit.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/response/UserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/profilesync/repository/ProfileSyncAuditDetailsRepository.java
  src/main/java/uk/gov/hmcts/reform/profilesync/repository/ProfileSyncAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/profilesync/repository/ProfileSyncConfigRepository.java
  src/main/java/uk/gov/hmcts/reform/profilesync/repository/SyncJobRepository.java
  src/main/java/uk/gov/hmcts/reform/profilesync/schedular/UserProfileSyncJobScheduler.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncService.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/ProfileUpdateService.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/main/resources/db/migration/V1_4__add_sync_audit_new_tables.sql
  src/test/java/uk/gov/hmcts/reform/profilesync/config/FeignConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/config/ServiceTokenGeneratorConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/config/TokenConfigPropertiesTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/ProfileSyncAuditDetailsIdTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/ProfileSyncAuditDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/ProfileSyncAuditTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/SyncConfigTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/SyncJobAuditTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/UserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/response/ErrorResponseTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/response/GetUserProfileResponseTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/response/UserProfileResponseTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/helper/MockDataProvider.java
  src/test/java/uk/gov/hmcts/reform/profilesync/repository/ProfileSyncAuditDetailsRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/repository/ProfileSyncAuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/repository/ProfileSyncConfigRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/repository/SyncJobRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/schedular/UserProfileSyncJobSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/util/JsonFeignResponseUtilTest.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-319

#325 Latest changes
  audit.json
  build.gradle
  charts/rd-profile-sync/Chart.yaml
  charts/rd-profile-sync/values.preview.template.yaml
  charts/rd-profile-sync/values.yaml
  config/owasp/suppressions.xml
  pacts/.keep
  src/functionalTest/java/uk/gov/hmcts/reform/profilesync/client/FuncTestRequestHandler.java
  src/functionalTest/java/uk/gov/hmcts/reform/profilesync/client/IdamClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/profilesync/client/S2sClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/profilesync/config/TestConfigProperties.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/profilesync/ProfileSyncApplication.java
  src/main/java/uk/gov/hmcts/reform/profilesync/client/IdamClient.java
  src/main/java/uk/gov/hmcts/reform/profilesync/domain/response/OpenIdAccessTokenResponse.java
  src/main/java/uk/gov/hmcts/reform/profilesync/repository/SyncConfigRepository.java
  src/main/java/uk/gov/hmcts/reform/profilesync/schedular/UserProfileSyncJobScheduler.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncEnum.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_4__add_sync_audit_new_tables.sql
  src/smokeTest/java/uk/gov/hmcts/reform/profilesync/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/advice/UserProfileSyncExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/client/IdamClientTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/SyncJobConfigTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/response/OpenIdAccessTokenResponseTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/helper/MockDataProvider.java
  src/test/java/uk/gov/hmcts/reform/profilesync/repository/SyncConfigRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncEnumTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-325

#326 terraform changes removed
  infrastructure/state.tf
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-326

#329 Fixing serenity report for filtering Integration and Smoke tests
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/RunProfileSyncJobIntTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/profilesync/SmokeTest.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-329

#330 Fixing terraform
  infrastructure/state.tf
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-330

#331 Fixing SmokeTest test for serenity report
  src/smokeTest/java/uk/gov/hmcts/reform/profilesync/SmokeTest.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-331
