Repository hmcts/rd-profile-sync, pull requests merged in 2020-01, with the labels that each got.

#137 RDCC-768 - Fixing Sonar issues
  src/main/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncService.java
  src/main/java/uk/gov/hmcts/reform/profilesync/util/UserProfileSyncJobScheduler.java
Labels: ns:rd, ns:rd-profile-sync-pr-137, rel:rd-profile-sync-pr-137

#138 Prod sonar fix
  build.gradle
Labels: ns:rd, rel:rd-profile-sync-pr-138

#143 Code merge from master to demo
  build.gradle
  charts/rd-profile-sync/values.ithc.template.yaml
  charts/rd-profile-sync/values.perftest.template.yaml
  charts/rd-profile-sync/values.yaml
  infrastructure/ithc.tfvars
  infrastructure/perftest.tfvars
  src/contractTest/java/uk/gov/hmcts/reform/profilesync/IdamConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/profilesync/ProfileSyncApplicationTests.java
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/RunProfileSyncJobTest.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/util/UserProfileSyncJobScheduler.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/util/UserProfileSyncJobSchedulerTest.java
Labels: ns:rd, rel:rd-profile-sync-pr-143

#144 adding new script to update the searchquery run from last 3days inste…
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_3__update_sync_config_configrun_table.sql
Labels: ns:rd, rel:rd-profile-sync-pr-144
