Repository hmcts/rd-profile-sync, pull requests merged in 2020-07, with the labels that each got.

#274 Added missing App Insights Instrumentation Key
  config/owasp/suppressions.xml
  src/main/resources/bootstrap.yaml
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-274

#279 RDCC-1581, Demo: Adding component name to all application logs
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/profilesync/schedular/UserProfileSyncJobScheduler.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/profilesync/schedular/UserProfileSyncJobSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/util/UserProfileSyncJobSchedulerTest.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-279

#276 RDCC-1584: Increasing Mutation Coverage to meet threshold
  audit.json
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/profilesync/schedular/UserProfileSyncJobScheduler.java
  src/test/java/uk/gov/hmcts/reform/profilesync/advice/UserProfileSyncExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/client/IdamClientTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/config/FeignConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/config/ServiceTokenGeneratorConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/config/TokenConfigPropertiesTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/constants/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/SyncConfigTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/SyncJobAuditTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/SyncJobConfigTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/UserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/response/ErrorResponseTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/response/GetUserProfileResponseTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/response/UserProfileResponseTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/schedular/UserProfileSyncJobSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncEnumTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/util/JsonFeignResponseUtilTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/util/UserProfileSyncJobSchedulerTest.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-276

#272 RDCC-1567 - HMCTS checkstyle Plugin in profile sync
  build.gradle
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/profilesync/IdamConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/profilesync/client/IdamClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/AuthorizationEnabledIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/profilesync/client/IdamClient.java
  src/main/java/uk/gov/hmcts/reform/profilesync/client/UserProfileClient.java
  src/main/java/uk/gov/hmcts/reform/profilesync/schedular/UserProfileSyncJobScheduler.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/ProfileUpdateService.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/util/JsonFeignResponseUtil.java
  src/test/java/uk/gov/hmcts/reform/profilesync/config/ServiceTokenGeneratorConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/helper/MockDataProvider.java
  src/test/java/uk/gov/hmcts/reform/profilesync/schedular/UserProfileSyncJobSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/util/JsonFeignResponseUtilTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/util/UserProfileSyncJobSchedulerTest.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-272

#293 RDCC-1581: bringing changes from Demo
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/profilesync/schedular/UserProfileSyncJobScheduler.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-293

#296 feat : Merge HMCTS Gradle plugin changes to demo
  build.gradle
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/profilesync/IdamConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/profilesync/client/IdamClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/AuthorizationEnabledIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/RunProfileSyncJobIntTest.java
  src/main/java/uk/gov/hmcts/reform/profilesync/client/IdamClient.java
  src/main/java/uk/gov/hmcts/reform/profilesync/client/UserProfileClient.java
  src/main/java/uk/gov/hmcts/reform/profilesync/repository/ProfileSyncAuditDetailsRepository.java
  src/main/java/uk/gov/hmcts/reform/profilesync/schedular/UserProfileSyncJobScheduler.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncService.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/util/JsonFeignResponseUtil.java
  src/test/java/uk/gov/hmcts/reform/profilesync/config/ServiceTokenGeneratorConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/ProfileSyncAuditDetailsIdTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/ProfileSyncAuditTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/helper/MockDataProvider.java
  src/test/java/uk/gov/hmcts/reform/profilesync/repository/ProfileSyncAuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/schedular/UserProfileSyncJobSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/util/JsonFeignResponseUtilTest.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-296

#299 RDCC-1746 : reduce CVE in suppressions.xml.
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/profilesync/ProfileSyncApplication.java
  src/smokeTest/java/uk/gov/hmcts/reform/profilesync/SmokeTest.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-299

#298 feat: adding new integration test cases for new functionality
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/AuthorizationEnabledIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/RunProfileSyncJobIntTest.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-298
