Repository hmcts/rd-profile-sync, pull requests merged in 2020-06, with the labels that each got.

#247 feat: Removed filter and /o/userinfo calls which are not required for…
  Jenkinsfile_CNP
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/profilesync/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/profilesync/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/profilesync/config/SecurityConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/oidc/JwtGrantedAuthoritiesConverterTest.java
Labels: ns:rd, rel:rd-profile-sync-pr-247

#248 feat:removing unused classes
  src/main/java/uk/gov/hmcts/reform/profilesync/repository/IdamRepository.java
  src/test/java/uk/gov/hmcts/reform/profilesync/repository/IdamRepositoryTest.java
Labels: ns:rd, rel:rd-profile-sync-pr-248

#249 feat: removed unused entries from values.yaml and main.tf file
  charts/rd-profile-sync/Chart.yaml
  charts/rd-profile-sync/values.yaml
  infrastructure/main.tf
Labels: ns:rd, rel:rd-profile-sync-pr-249

#253 fix: RDCC-1464 - removed functional test cases for nightly build
  Jenkinsfile_nightly
Labels: ns:rd, rel:rd-profile-sync-pr-253

#254 Removed web app module
  infrastructure/main.tf
Labels: ns:rd, rel:rd-profile-sync-pr-254

#258 RDCC-1551: Upgrading to Java 11
  .travis.yml
  Dockerfile
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/test/java/uk/gov/hmcts/reform/profilesync/util/JsonFeignResponseUtilTest.java
Labels: ns:rd, rel:rd-profile-sync-pr-258

#266 feat:pact testing for profile-sync to idam
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  config/owasp/suppressions.xml
  pacts/rd_profile_sync__idam_api-Idam_api.json
  src/contractTest/java/uk/gov/hmcts/reform/profilesync/IdamConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncEnum.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/SyncConfigTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncEnumTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/util/UserProfileSyncJobSchedulerTest.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-266

#268 RDCC-1551: Upgrading to Java 11 (DEMO Env.)
  .travis.yml
  Dockerfile
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/test/java/uk/gov/hmcts/reform/profilesync/util/JsonFeignResponseUtilTest.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-268
