Repository hmcts/rd-profile-sync, pull requests merged in 2021-02, with the labels that each got.

#463 RDCC-2067: Set-Up S2S Secret
  charts/rd-profile-sync/Chart.yaml
  infrastructure/main.tf
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-463

#466 RDCC-2067: Referring to New S2S Secret & Addressing All Sonar Issues in Master
  charts/rd-profile-sync/Chart.yaml
  charts/rd-profile-sync/values.preview.template.yaml
  charts/rd-profile-sync/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/AuthorizationEnabledIntTest.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/util/JsonFeignResponseUtil.java
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/profilesync/advice/UserProfileSyncExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/config/ServiceTokenGeneratorConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/ProfileSyncAuditDetailsIdTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/repository/ProfileSyncAuditDetailsRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/util/JsonFeignResponseUtilTest.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-466

#473 DependBot: Upgrade Jar versions(RDCC- 2507)
  build.gradle
  charts/rd-profile-sync/Chart.yaml
  charts/rd-profile-sync/requirements.yaml
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-473
