Repository hmcts/rd-profile-sync, pull requests merged in 2021-11, with the labels that each got.

#542 fix: Added postgresql_version and fixed CVE CVE-2021-22096
  build.gradle
  infrastructure/main.tf
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-542

#546 Create postgres v11 DB on all environments
  infrastructure/main.tf
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-546

#549 CHG5006041 - Add secret to store v11 DB secrets
  infrastructure/main.tf
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-549

#550 Update configurations to point to v1 DB
  charts/rd-profile-sync/Chart.yaml
  charts/rd-profile-sync/values.aat.template.yaml
  charts/rd-profile-sync/values.yaml
  infrastructure/main.tf
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-550

#543 RDCC-3559: Enhancing logic to increase number of users fetched from IDAM
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-543

#551 Junit 5 upgrade
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/profilesync/IdamConsumerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/AuthorizationEnabledIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/RunProfileSyncJobIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/SpringBootIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/wiremock/WireMockExtension.java
  src/smokeTest/java/uk/gov/hmcts/reform/profilesync/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/advice/UserProfileSyncExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/config/FeignConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/config/ServiceTokenGeneratorConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/config/TokenConfigPropertiesTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/ProfileSyncAuditDetailsIdTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/ProfileSyncAuditDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/ProfileSyncAuditTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/SyncConfigTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/SyncJobConfigTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/domain/UserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/repository/ProfileSyncAuditDetailsRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/repository/ProfileSyncAuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/repository/ProfileSyncConfigRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/repository/SyncConfigRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/schedular/UserProfileSyncJobSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/ProfileSyncEnumTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/wiremock/WireMockExtension.java
  src/test/java/uk/gov/hmcts/reform/profilesync/util/JsonFeignResponseUtilTest.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-551

#552 Removing unrequired Params
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/AuthorizationEnabledIntTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/helper/MockDataProvider.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-552

#553 Remove v9.6 DB and temporary v11 secret
  infrastructure/main.tf
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-553
