Repository hmcts/rd-profile-sync, pull requests merged in 2021-01, with the labels that each got.

#450 Create s2s secret
  infrastructure/main.tf
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-450

#451 Update s2s secret references
  README.md
  charts/rd-profile-sync/Chart.yaml
  charts/rd-profile-sync/values.preview.template.yaml
  charts/rd-profile-sync/values.yaml
  infrastructure/main.tf
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/profilesync/config/ServiceTokenGeneratorConfiguration.java
  src/main/resources/bootstrap.yaml
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-451

#460 (feat): Add loggers around IDAM calls.
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-460
