Repository hmcts/rd-profile-sync, pull requests merged in 2022-07, with the labels that each got.

#667 RDCC-5049 Upgrade java chart
  charts/rd-profile-sync/Chart.yaml
  charts/rd-profile-sync/values.preview.template.yaml
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-667

#668 RDCC-5138: Adding Suppression for `CVE-2022-31569`
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-668

#669 RDCC-5145 Upgrade java chart version
  charts/rd-profile-sync/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-669
