Repository hmcts/rd-profile-sync, pull requests merged in 2022-03, with the labels that each got.

#584 Sync-Completeness of functional and Integration test
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/UserAcquisitionServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-584

#585 fix: Updated java chart version to 3.7.3
  charts/rd-profile-sync/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-585

#597 fix: RDCC-4279: Added cwd-user in the search query
  src/main/java/uk/gov/hmcts/reform/profilesync/schedular/UserProfileSyncJobScheduler.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-597

#598 RDCC-4300: Collating DependaBot PRs
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-598

#609 RDCC-4331 Profile Sync Nightly build issue
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-609
