Repository hmcts/rd-profile-sync, pull requests merged in 2023-02, with the labels that each got.

#695 RDCC-6259: Adding & Upgrading Dependencies
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-695

#696 RDCC-6295 Address fortify issues in Profile Sync Repository
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileUpdateServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-696

#698 RDCC-1707: Upgrade helm chart version to latest
  charts/rd-profile-sync/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-698

#699 RDCC-6374: Upgrading chart version to 4.0.13
  charts/rd-profile-sync/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-699

#700 RDCC-6432: Adding Suppression for `CVE-2022-45688`
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-700
