Repository hmcts/rd-profile-sync, pull requests merged in 2024-03, with the labels that each got.

#790 DTSRD-2065-3.SCHEMA OWNER FIX
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:rd, prd:rd, add-or-update, rel:rd-profile-sync-pr-790

#792 DTSRD-2395: Fix Profile sync issue
  Jenkinsfile_CNP
  charts/rd-profile-sync/Chart.yaml
  charts/rd-profile-sync/values.preview.template.yaml
  charts/rd-profile-sync/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/profilesync/RunProfileSyncJobIntTest.java
  src/main/java/uk/gov/hmcts/reform/profilesync/client/IdamClient.java
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-792

#795 Fix authorisation value loading from key vault
  Jenkinsfile_CNP
  charts/rd-profile-sync/Chart.yaml
  charts/rd-profile-sync/values.preview.template.yaml
  charts/rd-profile-sync/values.yaml
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/profilesync/service/impl/ProfileSyncServiceImpl.java
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-profile-sync-pr-795

#798 Fix CVE-2024-1597
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-798
