Repository hmcts/rd-profile-sync, pull requests merged in 2024-04, with the labels that each got.

#809 DTSRD-2442: PI33 Configure spot instances in non-production
  charts/rd-profile-sync/Chart.yaml
  charts/rd-profile-sync/values.yaml
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-809

#817 FIX AZURE EXTENSIONS
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:rd, prd:rd, aat/add-or-update, rel:rd-profile-sync-pr-817

#825 Update pitest
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-profile-sync-pr-825
